<!-- templates/_base.html -->

{% load compress %}
{% load static extra_tags %}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dragonweed Login</title>
        
        {% compress css %}
        <link rel="stylesheet" href="{% static '/css/dashboard/output.css' %}">
        {% endcompress %} 
    </head>
    
<body>
    
    <div style="width: 100%; margin: 0 auto">
        <div style="width: 100%; min-height: 100vh; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; padding: 15px; background-position: center; background-size: cover; background-repeat: no-repeat;">
            <div style="width: 390px; background: #fff; border-radius: 10px; position: relative;">
                {% if not 'reset_password_confirmed' in request.session and not request.session.reset_password_confirmed %}
                <form style="width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap;" id="loginForm">
                    {% csrf_token %}
                    <span style="font-size: 30px; color: #403866; line-height: 1.2; text-transform: uppercase; text-align: center; width: 100%; display: block; margin-bottom: 16px;">
                        Login
                    </span>
                    <div style="position: relative; width: 100%; background-color: #e6e6e6; border: 1px solid transparent; border-radius: 3px; margin-bottom: 16px;">
                        <input type="text" name="username" id="username" autocomplete="username" style="color: #403866; line-height: 1.2; font-size: 18px; display: block; width: 100%; background: transparent; height: 62px; padding: 0 20px 0 38px;" placeholder="Username" required="">
                        <span style="position: absolute; display: block; width: calc(100% + 2px); height: calc(100% + 2px); top: -1px; left: -1px; pointer-events: none; border: 1px solid green; border-radius: 50%; visibility: hidden; opacity: 0;">Username</span>
                    </div>
                    <div style="position: relative; width: 100%; background-color: #e6e6e6; border: 1px solid transparent; border-radius: 3px; margin-bottom: 16px;">
                        <input type="password" name="password" id="password" autocomplete="current-password" style="color: #403866; line-height: 1.2; font-size: 18px; display: block; width: 100%; background: transparent; height: 62px; padding: 0 20px 0 38px;" placeholder="Password" required="">
                        <span style="position: absolute; display: block; width: calc(100% + 2px); height: calc(100% + 2px); top: -1px; left: -1px; pointer-events: none; border: 1px solid green; border-radius: 50%; visibility: hidden; opacity: 0;">Password</span>
                    </div>
                    <button type="submit" style="font-size: 16px; color: #fff; line-height: 1.2; text-transform: uppercase; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; justify-content: center; align-items: center; padding: 0 20px; width: 100%; height: 62px; background-color: #10b981; border-radius: 3px;-webkit-transition: all 0.4s; -o-transition: all 0.4s; -moz-transition: all 0.4s;transition: all 0.4s;">
                        LOGIN
                    </button>
                </form>
                {% endif %}
                {% if 'reset_password_confirmed' in request.session and request.session.reset_password_confirmed %}
                <form style="width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap;" id="loginForm">
                    {% csrf_token %}
                    <span style="font-size: 30px; color: #403866; line-height: 1.2; text-transform: uppercase; text-align: center; width: 100%; display: block; margin-bottom: 16px;">
                        Set new password
                    </span>
                    <div style="position: relative; width: 100%; background-color: #e6e6e6; border: 1px solid transparent; border-radius: 3px; margin-bottom: 16px;">
                        <input type="password" name="password" id="password" placeholder="New password" autocomplete="" style="color: #403866; line-height: 1.2; font-size: 18px; display: block; width: 100%; background: transparent; height: 62px; padding: 0 20px 0 38px;" placeholder="Username" required="">
                        <span style="position: absolute; display: block; width: calc(100% + 2px); height: calc(100% + 2px); top: -1px; left: -1px; pointer-events: none; border: 1px solid green; border-radius: 50%; visibility: hidden; opacity: 0;">Username</span>
                    </div>
                    <div style="position: relative; width: 100%; background-color: #e6e6e6; border: 1px solid transparent; border-radius: 3px; margin-bottom: 16px;">
                        <input type="password" name="passwordConfirm" id="password_confirm" placeholder="New password" autocomplete="" style="color: #403866; line-height: 1.2; font-size: 18px; display: block; width: 100%; background: transparent; height: 62px; padding: 0 20px 0 38px;" placeholder="Password" required="">
                        <span style="position: absolute; display: block; width: calc(100% + 2px); height: calc(100% + 2px); top: -1px; left: -1px; pointer-events: none; border: 1px solid green; border-radius: 50%; visibility: hidden; opacity: 0;">Password</span>
                    </div>
                    <button type="submit" style="font-size: 16px; color: #fff; line-height: 1.2; text-transform: uppercase; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; justify-content: center; align-items: center; padding: 0 20px; width: 100%; height: 62px; background-color: #10b981; border-radius: 3px;-webkit-transition: all 0.4s; -o-transition: all 0.4s; -moz-transition: all 0.4s;transition: all 0.4s;">
                        SAVE PASSWORD
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>


    <!-- Alert Modal1 -->
   <div id="alert-modal" aria-hidden="true" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full bg-gray-900 bg-opacity-60">
        <div class="relative w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <div class="p-6 text-center">
                    <svg class="mx-auto mb-4 text-red-500 w-12 h-12 dark:text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                        Es ist ein <strong>Fehler</strong> aufgetreten!<br />
                        Bitte versuchen Sie es zu einem späteren Zeitpunkt erneut.
                    </h3>
                    <button onclick="hideModal('alert-modal')" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Verstanden</button>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static '/js/jquery-3.7.0.min.js' %}"></script>

    <script>
        const modalCenterOptions = {
            placement: 'bottom-right',
            backdrop: false,
            closable: true,
        }

        const toggleModal = (modalId) => {
            const modal = new Modal(document.getElementById(modalId), null);
            modal.show();
        }

        const hideModal = (modalId) => {
            const modal = new Modal(document.getElementById(modalId), null);
            modal.hide();
            
            $('[modal-backdrop]').remove();
        }
    </script>
    
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>

    <!-- Submit login -->
    <script>

        // Submit verhindern
        $(document).on('submit', '#loginForm', function (event) {
            event.preventDefault(); // Damit Seite nicht neu geladen wird
            loginUser();
        });

        const $email = $('input[name=username]', '#loginForm')
        const $password = $('input[name=password]', '#loginForm')
        const $alertField = $('[name=alert]', '#loginForm')

        const loginUser = () => {
            
            $alertField.addClass('hidden')

            const emailValue = $email.val()
            const passwordValue = $password.val()

            if (emailValue === undefined || emailValue === '') {
                $email.addClass('input-error')
                return false
            }
            if (passwordValue === undefined || passwordValue === '') {
                $password.addClass('input-error')
                return false
            }

            $.ajax({
                type: 'POST',
                url: '{% url "dashboard_login" %}',
                traditional: true,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                data: {
                    'loginUser': 'loginUser',
                    'username': emailValue,
                    'password': passwordValue,
                },
                success: (data) => {
                    if (data.wrong_username) {
                        $alertField.html('Benutzername ist falsch oder existiert nicht.')
                        $alertField.removeClass('hidden')
                        return false;
                    }
                    if (data.wrong_password) {
                        $alertField.html('Passwort ist falsch.')
                        $alertField.removeClass('hidden')
                        return false;
                    }
                    if (data.no_premission) {
                        $alertField.html('Sie haben keine Berechtigungen.')
                        $alertField.removeClass('hidden')
                        return false;
                    }

                    window.open(data.url, '_parent')
                },
                error: () => {
                    toggleModal('alert-modal')
                }
            })
        }
    </script>

    <!-- Set new password -->
    <script>
        $(document).on('submit', '#newPasswordForm', function (event) {
            event.preventDefault(); // Damit Seite nicht neu geladen wird
            saveNewPassword();
        });

        const $newPassword = $('input[name=password]', '#newPasswordForm')
        const $passwordConfirm = $('input[name=passwordConfirm]', '#newPasswordForm')
        const $alertFieldPassword = $('[name=alert]', '#newPasswordForm')

        const saveNewPassword = () => {
            
            $alertFieldPassword.addClass('hidden')

            const passwordValue = $newPassword.val()
            const passwordConfirmValue = $passwordConfirm.val()

            if (passwordValue === undefined || passwordValue === '') {
                $newPassword.addClass('input-error')
                return false
            }
            if (passwordConfirmValue === undefined || passwordConfirmValue === '') {
                $passwordConfirm.addClass('input-error')
                return false
            }
            if (passwordValue !== passwordConfirmValue) {
                $alertFieldPassword.html('Passwörter stimmen nicht überein.')
                $alertFieldPassword.removeClass('hidden')
                return false;
            }

            $.ajax({
                type: 'POST',
                url: '{% url "dashboard_login" %}',
                traditional: true,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                data: {
                    'setNewPassword': 'setNewPassword',
                    'newPassword': passwordValue,
                },
                success: (data) => {
                    window.open(data.url, '_parent')
                },
                error: () => {
                    toggleModal('alert-modal')
                }
            })
        }
    </script>
</body>
</html>