/* static/src/input.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../../fonts/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansCondensed';
    src: url('../../fonts/IBMPlexSansCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansCondensed';
    src: url('../../fonts/IBMPlexSansCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansCondensed';
    src: url('../../fonts/IBMPlexSansCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansCondensed';
    src: url('../../fonts/IBMPlexSansCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../../fonts/IBMPlexSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../../fonts/IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../../fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../../fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../../fonts/IBMPlexSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


* {
    font-family: IBMPlexSansCondensed;
}

.popover.custom-popover {
    background-color: rgb(55 65 81);
    padding: .5rem 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border: 1px solid rgb(75 85 99);
    font-size: 0.75rem;
    line-height: 1rem;
    z-index: 2;
}
.popover.custom-popover .popover-header {
    color: #fff;
    font-size: 0.75rem;
    line-height: 1rem;
}

/* Green Scrollbar */

#orderModal > div::-webkit-scrollbar,
#dropdownProductList::-webkit-scrollbar,
#table-container::-webkit-scrollbar {
    /* width: 8px; */
    /* margin: 5px; */
    height: 8px;
    width: 8px;
    border: solid 3px transparent;
}
#orderModal > div::-webkit-scrollbar-track,
#dropdownProductList::-webkit-scrollbar-track,
#table-container::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    border-radius: 0px;
    background-color: #424242;
    border-top: solid 3px transparent;
    background-clip: content-box;
}

#orderModal > div::-webkit-scrollbar-thumb,
#dropdownProductList::-webkit-scrollbar-thumb,
#table-container::-webkit-scrollbar-thumb {
    background-color: #0E9F6E;
    border-top: solid 3px transparent;
    background-clip: content-box;
    /* border-radius: 10px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
.modal-accordion-button[aria-expanded="true"] {
    background-color: #4b5563 !important;
}
#statusFilterButtons button.active {
    background-color: #059669;
}
.higreen-toast {
    transition: all 250ms ease-in-out;
    transform: translateX(-50%) translateY(-100px);
}
.higreen-toast.active {
    transform: translateX(-50%);
}

#extractedOrderTable th {
    text-align: left;
}
#extractedOrderTable td {
    color: #fff;
}
input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}